
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #000;
    display: flex;
    overflow-x: hidden;
}



.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    background: url("../img/bg.jpg") center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/* Styles for product card */
.product .product-card{
    z-index: 1;
    background: #964A4F;
    position: relative;
    width: 600px;
    height: 400px;
    margin: 40px;
    border-radius: 10px;
    margin-top: 180px;
}

.product .product-card:before{
    content: '';
    background: rgba(255, 255, 255, 0.1);
    background-image: url("../img/banners/1.png");
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* DIFF BANNERS */
.product .b2:before{
    background-image: url("../img/banners/2.png");
}

.product .b3:before{
    background-image: url("../img/banners/3.png");
}

.product .b4:before{
    background-image: url("../img/banners/4.png");
}

.product .b5:before{
    background-image: url("../img/banners/5.png");
}

.product .b6:before{
    background-image: url("../img/banners/6.png");
}

.product .b7:before{
    background-image: url("../img/banners/7.png");
}

.product .b8:before{
    background-image: url("../img/banners/8.png");
}

.product .b9:before{
    background-image: url("../img/banners/9.png");
}




.product .product-card .product-img {
    z-index: 10;
    position: absolute;
    max-height: 350px;
    left: 50%;
    top: 0;
    transform: translate(-50%, -43%);
}

.product .product-card .name {
    z-index: 20;
    color: #FFF;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 120px;
    font-size: 28px;
    letter-spacing: 1px;
}

.product .product-card .price {
    z-index: 20;
    color: #FFF;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 70px;
    font-size: 30px;
    font-weight: 300;
}

.product .product-card .price-desc{
    font-size: 16px;
}

.product .product-card .popup-btn{
    z-index: 20;
    color: #000;
    background: #E3B3B6;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.product .product-card .popup-btn:hover{
    color: #FFF;
    background: #633134;
    transition: 0.5s;
}



/* Styles for popup view */
.noscroll { 
    overflow: hidden;
}

.product .popup-view {
    z-index: 20;
    background: rgba(150, 74, 79, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}

[aria-hidden="true"]  { display: none; }
[aria-hidden="false"] { display: block; }

.product .popup-view.active{
    opacity: 1;
    visibility: visible;
}


.product .popup-card{
    position: relative;
    display: flex;
    width: 800px;
    /* max-height: 90vh; */
    margin: 20px;
}

.product .popup-card .product-img{
    z-index: 20;
    background: #1D212B;
    background-image: url("../img/banners/1.png");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    max-height: 500px;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    inset: 0;
   

}

/* DIFF BANNERS */
.product .popup-card .b2{
    background-image: url("../img/banners/2.png");
}

.product .popup-card .b3{
    background-image: url("../img/banners/3.png");
}

.product .popup-card .b4{
    background-image: url("../img/banners/4.png");
}

.product .popup-card .b5{
    background-image: url("../img/banners/5.png");
}

.product .popup-card .b6{
    background-image: url("../img/banners/6.png");
}

.product .popup-card .b7{
    background-image: url("../img/banners/7.png");
}

.product .popup-card .b8{
    background-image: url("../img/banners/8.png");
}

.product .popup-card .b9{
    background-image: url("../img/banners/9.png");
}



.product .popup-card .product-img img{
    z-index: 20;
    position: relative;
    width: 350px;
    left: -30px;
    bottom: 18px;
}

.product .popup-card .info{
    z-index: 20;
    background: #FFF;
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 55%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
    overflow: auto;
    /* justify-content: space-around; */
}

.product .popup-card .close-btn {
    color: #555;
    z-index: 30;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.product .popup-card .info h2{
    font-size: 2rem;
    line-height: 2rem;
    margin: 10px;
}

.product .popup-card .info h2 span{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product .popup-card .info p{
    font-size: 15px;
    margin: 10px;
    /* text-align: justify; */
}


.product .popup-card .info .price{
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

.product .popup-card .info .price2{
    font-weight: 300;
    font-size: 24px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.product .popup-card .info h1{
    font-size: 22px;
    margin-top: 20px;
}

.product .popup-card .info .add-cart-btn{
    color: #FFF;
    background: #964A4F;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 50px;
    border-radius: 20px;
    position: relative;
}

.product .popup-card .info .cart-want{
    color: #FFF;
    background: #964A4F;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 20px;
}

.product .popup-card .info .cart-want:hover{
    background:#E3B3B6;
    color: #000;
    transition: 0.5s;
}

.product .popup-card .info .add-cart-btn:hover{
    background:#E3B3B6;
    color: #000;
    transition: 0.5s;

}

.product .popup-card .info .add-wish{
    color: #009DD2;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}


/* Reponsive Styles */

@media (max-width: 900px){
    
    .product .product-card{
        width: 700px;
        margin: 0;
        margin-top: 200px;
        margin-bottom: 50px;
        
    }

    .product .popup-card{
        flex-direction: column;
    }

    .product .product-card .name{
        font-size: 18px;
    }

    

    .product .popup-card .product-img{
        z-index: 3;
        width: 100%;
        height: 200px;
        transform: translateY(0);
        border-bottom-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .product .popup-card .product-img img{
        left: initial;
        max-width: 250px;
        bottom: 0;
    }

    .product .popup-card .info{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .product .popup-card .info h2{
        margin: 20px 5px 5px 5px;
        font-size: 25px;
    }

    .product .popup-card .info h2 span{
        font-size: 10px;
    }

    .product .popup-card .info p{
        margin: 5px;
        font-size: 13px;
    }

    .product .popup-card .info .price{
        margin: 5px;
        font-size: 30px;
    }

    .product .popup-card .info .add-cart-btn{
        margin: 5px auto;
        padding: 5px 40px;
        font-size: 14px;
        position: static;
    }

    .product .popup-card .info .add-wish{
        font-size: 14px;
    }

    .product .popup-card .close-btn{
        z-index: 4;
    }
}

@media (max-width: 600px){


    .product .product-card{
        width: 95vw;
        margin: 0;
        margin-top: 200px;
        margin-bottom: 50px;
        
    }

    .product .popup-view{
        align-items: center;
        padding-top: 50px;
    }

    .product .popup-card{
        flex-direction: column;
        margin: 0px;
        max-height: 80vh;
        width: 95vw;
    }
    

}


/* @media (max-width: 375px){
    .product .product-card{
        width: 365px;
        margin: 0;
        margin-top: 200px;
        margin-bottom: 50px;
        
    }

    .product .popup-card{
        flex-direction: column;
    }
    
}

@media (max-width: 320px){
    .product .product-card{
        width: 310px;
        margin: 0;
        margin-top: 200px;
        margin-bottom: 50px;
        
    }

    .product .popup-card{
        flex-direction: column;
        margin: 0px;
        margin-top: 20px;
        max-height: 90vh;
        width: 300px;
    }
    
} */